<!--
  Generated template for the NovalidaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding class="back-error">
    <ion-slides pager>
      <ion-slide>
      
      <img src="./assets/img/kb.png" class="slide-image"/>
      <h2 class="slide-title accent-color style-font">Algo falló</h2>
      <h4 class="slide-title accent-color style-font"> Aqui esta el problema...</h4>
      <p class="clear-color">{{mensajeError}}</p>
    </ion-slide>
    </ion-slides>

</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <button ion-button block large color="accent" (click)="validaDispositivo()">Valida registro nuevamente.</button>
  </ion-toolbar>
</ion-footer>