page-landing {

}

.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
    margin: 0px !important;
    width: 100% !important;
  }

  .card-title {
    font-family: 'Permanent Marker';
    position: absolute;
    bottom: 40%;
    font-size: 3em;
    line-height: 90%;
     text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
    font-weight: lighter;
    width: 100%;
    font-weight: bold;
    color: #F2C94C;
  }

  .card-subtitle {
    font-size: 1.6em;
    position: absolute;
    bottom: 0%;
    width: 100%;
    color: #fff;
    padding: 10px 0px;
    background-color: rgba(0,0,0,0.6);
  }

}