<!--
  Generated template for the LandingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Atomica Training Center</ion-title>
     <ion-buttons end>
      <button (click)="encodeData()" ion-button icon-only color="royal">
        <ion-icon  name="barcode"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="card-background-page">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Actualizar"
      refreshingSpinner="circles"
      refreshingText="Buscando...">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="!fechaSiguientePago" class="danger-back">
      <ion-icon name="information-circle"></ion-icon>  <span>   No hemos registrado tu pago.</span>
  </div>

  <!--  AQUI PERSENTAREMOS EL WOD DEL DIA -->
  <ion-card (click)="goDetailWOD()">
    <img src="./assets/img/atbox-bw-thumb.jpg"/>
    <div class="card-title">{{todayWod | date:'dd/MMM/yyyy'}}</div>
    <div class="card-subtitle"><ion-icon name="medal"></ion-icon>  Workout del dia</div>
  </ion-card>

  <ion-card (click)="goMarcas()">
    <img src="./assets/img/chronometer.jpg"/>
    <div class="card-subtitle"> <ion-icon name="speedometer"></ion-icon>  Mis mejores marcas.</div>
  </ion-card>

  <ion-card (click)="goRanking()">
    <img src="./assets/img/up-workout-intensity-feature.jpg"/>
    <div class="card-subtitle"> <ion-icon name="podium"></ion-icon>  Ranking.</div>
  </ion-card>

  <ion-card (click)="underConstruction()">
      <img src="./assets/img/performanceback.png"/>
      <div class="card-title">Pronto!</div>
      <div class="card-subtitle"> <ion-icon name="body"></ion-icon>  Performance Total.</div>
    </ion-card>

</ion-content>
