<!--
  Generated template for the AcercadePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Acerca de Atomica</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-item-group>
    <ion-item-divider color="light">Informacion General</ion-item-divider>
    <ion-item>Version: 1.2.1</ion-item>
    <ion-item>Build: 0.0.19</ion-item>
    <ion-item>Todos los derechos reservados 2017.</ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider color="light">Actualizaciones</ion-item-divider>
  </ion-item-group>
  <div>
    13 de Octubre
    <ul>
      <li>Ajustes y actualización de datos de cuenta</li>
      <li>Se agrega el peso en el registro de la marca</li>
      <li>Ajustes de presentacion en mis marcas.</li>
      <li>Ajustes de presentacion y filtros del ranking</li>
      <li>Eliminar marca registrada</li>
      <li>Calendario de WODs y registro de marcas anteriores</li>
    </ul>
  </div>
  <div>
    6 de Septiembre
    <ul>
      <li>Ajustes en la presentacion del WOD</li>
      <li>Modificacion de registro de marcas</li>
      <li>Modificacion en presentacion de ranking</li>
    </ul>
  </div>
  <div>
    28 de Agosto
    <ul>
      <li>Registro de marca por categoria</li>
      <li>Presentacion de mis marcas</li>
      <li>Presentacion del ranking del WOD</li>
    </ul>
  </div>
  <div>
    24 de Agosto
    <ul>
      <li>Ajuste en la presentación del detalle del WOD</li>
    </ul>
  </div>
  <div>
    16 de Agosto
    <ul>
      <li>Wod del dia</li>
      <li>Ajuste de menus</li>
      <li>Mejora en la nevegación</li>
      <li>Actualizacion de datos</li>
      <li>Codigo de acceso al box</li>
    </ul>
  </div>
</ion-content>