<ion-content class="body-black">



  <ion-row>
    <ion-col text-center>

      <img src="./assets/img/logo.png" width="80%">
      <h5 class="clear-color style-font">Bienvenido a la mejor versión de ti mismo</h5>
    </ion-col>
  </ion-row>

  <ion-card no-padding text-center>
    <ion-card-header>
      Accede a tu cuenta
    </ion-card-header>

    <ion-card-content no-padding>
      <ion-item>
        <ion-label stacked>Correo Electrónico</ion-label>
        <ion-input type="email" required [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Contraseña</ion-label>
        <ion-input type="password" required [(ngModel)]="password"></ion-input>
      </ion-item>

      <ion-item>
        <button ion-button block large color="accent" (click)="autentica()">Entrar</button>
      </ion-item>
    </ion-card-content>

    <ion-item text-center>
     ò <a class="style-font" (click)="goRegistro()">Registrate aquí</a>
    </ion-item>
  </ion-card>



</ion-content>