
label{
    display: block !important;
    color: #9E9E9E  !important;
    font-size: 12px !important;
    margin-top: 6px  !important;
}

select{
    border: none;
    border-bottom: solid 3px #F2C94C;
    color: #4F4F4F !important;
    font-size: 16px !important;
    width: 90%;
    margin-bottom: 10px;
}

ion-input{
    border: none !important;
    border-bottom: solid 3px #F2C94C !important;
    color: #4F4F4F !important;
    width: 100% !important;
    margin-bottom: 10px !important;
    font-size: 1.2em !important;
}
ion-textarea{
    border: none !important;
    border-bottom: solid 3px #F2C94C !important;
    color: #4F4F4F !important;
    width: 100% !important;
    margin-bottom: 10px !important;
    font-size: 1.2em !important;
}

.label-accent {
    display: block;
    border: none !important;
    border-bottom: solid 3px #F2C94C !important;
    color: #4F4F4F !important;
    width: 100% !important;
    line-height: 1.8em !important;
    margin-bottom: 10px !important;
    font-size: 1.2em !important;
}

.my-input{
    border: none !important;
    color: #4F4F4F !important;
    font-size: 2.4em !important;
    padding: 5px !important;
    margin-bottom: 10px !important;
    text-align: center;
    background-color: #fff;
    width: 100% !important;
}

.table-header{
    background-color: #1C1C1C;
     color: #F2C94C !important;
      background-image: url('../img/band.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.shadow{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.back-atomica{
    background-color: #F8F8F8;
}

.back-cuenta{
    background-color: #DBDBDB  !important;
}

.back-error{
    background-color: #222  !important;
}

.border-danger-card{
    border: 1px dashed #f53d3d !important;
    background-color: #222 !important;
}

.body-black{
    background-image: url('../img/black_background_metal-wallpaper-1440x900.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.fondo-menu{
    background-image: url('../img/atomicabox-bw-800x449.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.fondo-menu-opacity{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
}


.username-menu{
    color:#F2C94C;
    font-size: 1.2em;
    text-align: center;
}

.clear-color{
    color: #fff !important;
}

.accent-color{
    color: #ffcc00 !important;
}

.danger-color{
    color: #f53d3d !important;
    font-weight: bold;
}

.danger-back{
    background-color: #f53d3d !important;
    color:#fff;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
}

.style-font{
    font-family: 'Rock Salt', cursive !important; 
}

.icons-size{
    width: 30px !important;
    height: 30px !important;
    float: left; 
}

.fondo-imagen{
    position: relative;
    display: block;
    width: 100%;
    height: 320px !important;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}


.fondo-imagen-menu{
     width: 80px !important;
     height: 80px !important;
     border-radius: 50%;
     margin:auto;
}

.separador{
    display: block;
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0;
    background-image: url('../img/border.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
}

.none-bg{
    background-color: transparent !important;
}

.align-center{
    text-align: center;
}
