<!--
  Generated template for the MismarcasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary" class="table-header">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Mis marcas</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="background-detail">

  <p class="info-detalle" text-center margin>
    <ion-icon name="help-circle"></ion-icon>
    Desliza la tarjeta a la izquierda o derecha para borrar la marca</p>

  <h3 *ngIf="emptyMessage" text-center>
    <ion-icon name="information-circle"></ion-icon>
    {{emptyMessage}}</h3>

  <ion-card *ngFor="let marca of marcasComplete" (swipe)="swipeEvent(marca)" class="animated" [ngClass]="{'jello':marca.toDelete}">
    <ion-card-header no-padding>
      <div class="table-header" style="padding:4px;" text-center>{{marca.fechaRegistroCadena}}</div>
      <div class="head-detail-params">
        <ion-row>
          <ion-col col-7>
            <label class="label-param">WOD</label>
            <span class="content-param">{{marca.wod.nombre}}</span>
          </ion-col>
          <ion-col col-5>
            <label class="label-param">Fecha WOD</label>
            <span class="content-param">{{marca.wod.fechaRegistroCadena}}</span>
          </ion-col>
        </ion-row>
      </div>

    </ion-card-header>
    <ion-card-content no-padding>
      <ion-row>
        <ion-col text-center>
          <label class="label-param">Categoria</label>
          <span class="content-param">{{marca.descripcion}}</span>
        </ion-col>
        <ion-col text-center>
          <label class="label-param">Timecap</label>
          <span class="content-param">{{marca.timeTotal}}</span>

        </ion-col>
        <ion-col text-center>
          <label class="label-param">Reps.</label>
          <span class="content-param">{{marca.repsTotal}}</span>

        </ion-col>
        <ion-col text-center>
          <label class="label-param">Peso</label>
          <span class="content-param">{{marca.peso}}</span>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>



</ion-content>