page-mismarcas {
    .marker-font{
        font-family: 'Permanent Marker';
    }

    .large-font{
        font-size: 2em !important;
    }

    .background-detail {
        background-color: #f0f0f0 !important;
    }

    .head-detail-params{
        display: block;
        background-color: #F2C94C;
        text-align: center;
        padding-bottom: 10px;
    }
    
    .label-param{
        margin-top:5px !important;
        color:#000 !important;
     }
 
     .content-param{
        font-size: 1em;
        color:#000;
        font-size: bold;
     }
 
     .info-detalle{
         padding:5px;
        background-color: #fff !important;
        border:solid 1px #eee;
        color:#888;
        border-radius: 5px;
    }
}
