<!--
  Generated template for the DetailWodPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Workouts del día</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="openCalendar()">
          <ion-icon name="calendar"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
  
</ion-header>


<ion-content class="background-detail">
   
  <ion-calendar [(ngModel)]="date"
  (onChange)="onSelectDate($event)"
  [type]="type"
  [options]="options"
  [format]="'YYYY-MM-DD'" *ngIf="showCalendar">
</ion-calendar>

  <div class="head-detail shadow">
    <div class="head-detail-title only-title">{{todayWod | date:'dd/MMM/yyyy'}}</div>

  </div>
  <ion-card *ngFor="let wod of listadoWods">

    <ion-card-header no-padding>
      <div class="table-header" style="padding:4px;" text-center>{{wod.nombre}}</div>
      <div class="head-detail-params">
        <ion-row>
          <ion-col>
            <label class="label-param">Tipo</label>
            <span class="content-param">{{wod.tipoDesc}}</span>
          </ion-col>
          <ion-col>
            <label class="label-param">Timecap</label>
            <span class="content-param">{{wod.timecap}} min.</span>
          </ion-col>
          <ion-col>
            <label class="label-param">Participa</label>
            <span class="content-param">{{wod.participacion}}</span>
          </ion-col>
        </ion-row>
      </div>

    </ion-card-header>
    <ion-card-content padding>
      <ion-row align-items-center>
        <ion-col col-12 text-center class="info-detalle">
          <div class="content-param">{{wod.detalle}}</div>
        </ion-col>
      </ion-row>
      <div >
        <table class="table-ex">
          <thead>
            <tr>
              <th style="width:10%">Reps</th>
              <th>Ejercicio</th>
              <th style="width:30%">Peso</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ejercicio of wod.ejercicios">
              <td>
                {{ejercicio.repeticiones}}
              </td>
              <td>
                {{ejercicio.nombre}}
              </td>
              <td>
                {{ejercicio.peso}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ion-card-content>
  </ion-card>

  <!--<ion-card>

    <ion-card-header>
      <ion-item *ngFor="let ejercicio of ejercicios">
        {{ejercicio.nombre}}
        <ion-badge item-end> <ion-icon name="repeat"></ion-icon> {{ejercicio.repeticiones}}</ion-badge>
      </ion-item>
    </ion-card-header>
  </ion-card>


  <ion-card *ngFor="let categoria of ejerCategorias">
    <ion-card-header class="table-header">
      <strong>{{categoria.descripcion}}</strong>
    </ion-card-header>
    <ion-card-content *ngIf="isEditable">
      <ion-item *ngFor="let exer of categoria.ejercicio">
        <h2>{{exer.nombre}}</h2>
        <p>{{exer.base}} ({{exer.reps}} repeticiones)</p>

      </ion-item>
      <button ion-button block  *ngIf="!categoria.isShowMarca" (click)="toggleMarca(categoria)">Registrar mi marca</button>
      <ion-grid *ngIf="categoria.isShowMarca">
          <ion-row>
                <ion-col>
                    <label stacked>Total de repeticiones</label>
                    <ion-input type="number" [(ngModel)]="categoria.repsTotal"></ion-input>
                </ion-col>
            </ion-row>
          <ion-row>
            <ion-col>
                <label stacked>Mi tiempo.</label>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                  <ion-input type="number" placeholder="Minutos" [(ngModel)]="categoria.minuteTotal"></ion-input>
              </ion-col>
              <ion-col>
                  <ion-input type="number" placeholder="Segundos" [(ngModel)]="categoria.secondTotal"></ion-input>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                  <button ion-button block clear color="danger" (click)="toggleMarca(categoria)">Cancelar</button>
              </ion-col>
              <ion-col>
                  <button ion-button block color="accent" (click)="saveMarca(categoria)">Registrar</button>
              </ion-col>
          </ion-row>
        </ion-grid>
    </ion-card-content>
    <ion-card-content *ngIf="!isEditable">
        <ion-item *ngFor="let exer of categoria.ejercicio">
          <h2>{{exer.nombre}}</h2>
          <p>{{exer.base}} ({{exer.reps}} repeticiones)</p>
  
        </ion-item>
    </ion-card-content>
  </ion-card>
-->
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <button color="accent" ion-button block large (click)="presentaModalMarca()">Registra mi marca.</button>
  </ion-toolbar>
</ion-footer>