page-detail-wod {

    .background-detail {
        background-color: #f0f0f0 !important;
    }

    .head-detail{
        display: block;
        height: 100px;
        background-image: url('./../assets/img/atbox-lomofx-thumb.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        
    }

    .only-title{
        line-height: 90%;
    }

    .head-detail-title {
        display: block;
        width: 100%;
        position: absolute;
        top: 40%;
        font-family: 'Permanent Marker';
        font-size: 3em;
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
        color: #F2C94C;
        text-align: center;
    }

    .head-detail-params{
        display: block;
        background-color: #F2C94C;
        text-align: center;
        padding-bottom: 10px;
    }

    .label-param{
       margin-top:5px !important;
       color:#000 !important;
    }

    .content-param{
       font-size: 1em;
       color:#000;
       font-size: bold;
    }

    .marker{
        font-family: 'Permanent Marker';
        font-size: 1em;
    }

    .info-detalle{
        background-color: #f0f0f0 !important;
        border:solid 1px #AAA;
        border-radius: 5px;
    }

    .table-ex{
        width: 100%;
        font-size: 1.2em !important;
    }

    .table-ex td {
        padding: 2px;
    }

    .table-ex th {
        border-bottom: solid 2px #000;
    }


    .table-ex tr:nth-child(even){background-color: #f2f2f2}
}
