<ion-menu [content]="contenido" *ngIf="showMenu">



    <ion-content class="fondo-menu">
        <div class="fondo-menu-opacity"></div>
        <div style="padding-top:20px;">
            <ion-grid>
                <ion-row align-items-center>
                    <ion-col>
                        <div text-center class="fondo-imagen fondo-imagen-menu" [style.background-image]="'url(' + fullPathImage + ')'"></div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <h5 class="username-menu">{{userName}}</h5>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <button ion-button clear large icon-left block color="secondary" (click)="goPage(principal)"><ion-icon name="desktop"></ion-icon>  Principal</button>
        <button ion-button clear large icon-left block color="secondary" (click)="goPage(micuenta)"><ion-icon name="contact"></ion-icon>  Mi cuenta</button>
        <button ion-button clear large icon-left block color="secondary" (click)="goPage(mismarcas)">  <ion-icon name="podium"></ion-icon>  Mis marcas</button>
        <button ion-button clear large icon-left block color="secondary" (click)="goPage(acercade)"><ion-icon name="information-circle"></ion-icon>  Acerca</button>

    </ion-content>
    <ion-footer>
        <button ion-button clear large icon-left block color="accent" (click)="terminaSesion()"><ion-icon name="power"></ion-icon> Cerrar sesion</button>
    </ion-footer>
</ion-menu>

<ion-nav [root]="rootPage" #contenido></ion-nav>