page-ranking {

    .background-detail {
        background-color: #f0f0f0 !important;
    }

    .head-detail{
        display: block;
        height: 120px;
        background-image: url('./../assets/img/atbox-lomofx-thumb.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        margin-bottom: 10px;
    }

    .only-title{
        line-height: 90%;
    }

    .head-detail  .head-detail-title {
        display: block;
        width: 100%;
        position: absolute;
        bottom: 20%;
        font-family: 'Permanent Marker';
        font-size: 3em;
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
        color: #F2C94C;
        text-align: center;
    }

    .label-param{
        margin-top:5px !important;
        color:#000 !important;
     }
 
}
