<!--
  Generated template for the RankingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Ranking</ion-title>
  </ion-navbar>
 
      <ion-item>
          <ion-label><ion-icon name="funnel"></ion-icon> Filtros</ion-label>
          <ion-select [(ngModel)]="categoria" (ionChange)="onselect()">
              <ion-option value="1">RX</ion-option>
              <ion-option value="2">Escalado</ion-option>
              <ion-option value="3">Principiante</ion-option>
          </ion-select>
          <ion-select [(ngModel)]="filtro" (ionChange)="onselect()">
              <ion-option value="reps">Repeticiones</ion-option>
              <ion-option value="time">Tiempo</ion-option>
          </ion-select>
      </ion-item>
    
  
</ion-header>


<ion-content class="background-detail">

  <div class="head-detail shadow">
    <div class="head-detail-title only-title">{{todayWod | date:'dd/MMM/yyyy'}}</div>
  </div>

  
  
  <h3 *ngIf="emptyMessage" text-center>
    <ion-icon name="information-circle"></ion-icon>
    {{emptyMessage}}</h3>
  <ion-list>
    <ion-item *ngFor="let marca of marcasComplete; let idx = index">
      <ion-badge item-start>{{idx+1}}</ion-badge>
      {{marca.nombreMiembro}}
      <p>
      <ion-row>
          <ion-col>
              <label>WOD</label>
              {{marca.wod.nombre}}
          </ion-col>
          <ion-col>
              <label>Reps</label>
              {{marca.repsTotal}}
          </ion-col>
          <ion-col>
              <label>Peso</label>
              {{marca.peso}}
          </ion-col>
          <ion-col>
            <label>Timecap</label>
            {{marca.timeTotal}}
          </ion-col>
        </ion-row>
      </p>
      
    </ion-item>
  </ion-list>
</ion-content>