page-save-record {
    .my-ion-select {
        border: none !important;
        border-bottom: solid 3px #F2C94C !important;
        color: #4F4F4F !important;
        width: 100% !important;
        margin-bottom: 10px !important;
        font-size: 1.2em !important;
    }

    .input-90{
        width: 90% !important;
    }
}
