<!--
  Generated template for the SaveRecordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Registra mi marca</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item no-lines>
    <ion-label stacked text-center>Categoria</ion-label>
    <ion-select [(ngModel)]="marca.idCategoria"   text-center class="my-ion-select" multiple="false">
      <ion-option value="1">RX</ion-option>
      <ion-option value="2">Escalado</ion-option>
      <ion-option value="3">Principiante</ion-option>
    </ion-select>
  </ion-item>
  <ion-item no-lines text-center>
    <ion-label stacked>WOD</ion-label>
    <ion-select  text-center class="my-ion-select" [(ngModel)]="marca.wod" multiple="false">
      <ion-option *ngFor="let wod of listadoWods" [value]="wod">{{wod.nombre}}</ion-option>

    </ion-select>
  </ion-item>

  <ion-item no-lines>
      <ion-label stacked text-center>Peso.</ion-label>
      <ion-input type="text" text-center [(ngModel)]="marca.peso"></ion-input>
    </ion-item> 

  <ion-item no-lines>
    <ion-label stacked text-center>Total de repeticiones</ion-label>
    <ion-input type="text" text-center placeholder="0 repeticiones" [(ngModel)]="marca.repsTotal"></ion-input>
  </ion-item>


  <ion-label stacked text-center>Mi tiempo</ion-label>
  <ion-grid>
    <ion-row align-items-center>
      <ion-col>
        <ion-input text-center type="text" placeholder="Minutos" [(ngModel)]="marca.minuteTotal"></ion-input>
      </ion-col>
      <ion-col col-1>
        :
      </ion-col>
      <ion-col>
        <ion-input text-center type="text" placeholder="Segundos" [(ngModel)]="marca.secondTotal"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <button ion-button block clear color="danger" (click)="closeModal()">Cancelar</button>
      </ion-col>
      <ion-col>
        <button ion-button block color="accent" (click)="saveMarca()">Registrar</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>