<ion-header>

  <ion-navbar color="primary">
    <ion-title>Registra tu cuenta</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <ion-item>
    <ion-label stacked  [ngClass]="{'danger-color': msgNombreEmpty}">Nombre Completo*</ion-label>
    <ion-input type="text" required name="nombreCompleto" [(ngModel)]="nombreCompleto"></ion-input>
    
  </ion-item>

  <ion-item>
    <ion-label stacked [ngClass]="{'danger-color': msgEmailEmpty}">Correo Electrónico*</ion-label>
    <ion-input type="email" required name="email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked [ngClass]="{'danger-color': msgPassEmpty, 'danger-color': msgPassConfirm}">Contraseña*</ion-label>
    <ion-input type="password" required name="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label [ngClass]="{'danger-color': msgTerminos}">Acepto los Terminos y Condiciones.</ion-label>
    <ion-checkbox color="dark" [(ngModel)]="aceptaTerminos"></ion-checkbox>

  </ion-item>

  <ion-item>
    <button ion-button block large color="accent" (click)="registraUsuario()">Registrar</button>
    <button ion-button block large clear color="danger" (click)="cancelaRegistro()">Cancelar</button>
  </ion-item>
  <button ion-button block large clear (click)="goTerminosCondiciones()">Terminos y Condiciones.</button>
  
</ion-content>