page-micuenta {
    .profile-pic-container-top {
        display: block;
        position: absolute;
        width: 100%;
        height: 300px;
        background-color:rgba(0,0,0,.4);
    }

.profile-pic-container {
    display: block;
    width: 100%;
    height: 300px;
    background-image: url('./../assets/img/atbox-lomofx-thumb.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
}


.profile-pic {
    display: block;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:auto;
}

.profile-name-row{
    height: 70px !important;
}

.profile-name {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100%;
  
}

.profile-name ion-textarea{
    font-size: 1.6em !important;
    text-align: center;
    color: #fff !important;
}

.profile-email-row{
    height: 30px !important;
}

.profile-email {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100%;
    font-size: 0.8em;
    text-align: center;
    color: #F2C94C;
    font-weight: bold;
}


}
