<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Mi Cuenta</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Actualizar" refreshingSpinner="circles" refreshingText="Buscando...">
    </ion-refresher-content>
  </ion-refresher>

  <div class="profile-pic-container shadow">
    <div class="profile-pic-container-top"></div>
    <ion-grid>
      <ion-row>
        <ion-col align-self-center>
          <div class="profile-pic shadow" [style.background-image]="'url(' + fullPathImage + ')'">
          </div>
          <ion-fab top right>
            <button ion-fab mini color="accent"><ion-icon  name="contact"></ion-icon></button>
            <ion-fab-list>
              <button ion-fab color="accent" (click)="loadPicture()"><ion-icon name="attach"></ion-icon></button>
              <button ion-fab color="accent" (click)="useCamera()"><ion-icon name="camera"></ion-icon></button>
              <button ion-fab color="accent" (click)="dropPicture()"><ion-icon name="trash"></ion-icon></button>
            </ion-fab-list>
          </ion-fab>
        </ion-col>
      </ion-row>
      <ion-row align-items-center class="profile-name-row">
        <ion-col align-self-center class="profile-name">
          
          <ion-textarea text-center name="cuenta.nombreCompleto" [(ngModel)]="cuenta.nombreCompleto"></ion-textarea>
        </ion-col>
      </ion-row>
      <ion-row align-items-center class="profile-email-row">
        <ion-col align-self-center class="profile-email">
          {{cuenta.email}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-list no-lines>
    <ion-item>
      <ion-label class="label" stacked>Objetivo del mes.</ion-label>
      <ion-textarea name="cuenta.objetivo" [(ngModel)]="cuenta.objetivo"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label class="label" stacked>Consideraciones.</ion-label>
      <ion-textarea name="cuenta.consideraciones" [(ngModel)]="cuenta.consideraciones"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label class="label" stacked>Telefono.</ion-label>
      <ion-input type="text" name="cuenta.telefonoPrincipal" [(ngModel)]="cuenta.telefonoPrincipal"></ion-input>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col align-self-center class="align-center">
          <label class="label">Miembro desde</label>
          <span>{{cuenta.fechaIngreso | date:'dd/MMM/yyyy'}}</span>
        </ion-col>
        <ion-col align-self-center class="align-center">
          <label class="label">Registrado</label>
          <span>{{cuenta.fechaRegistroCadena}}</span>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col align-self-center class="align-center">
              <label class="label">Codigo acceso</label>
              <span>{{cuenta.uuid}}</span>
            </ion-col>
          <ion-col align-self-center class="align-center">
            <label class="label">Siguiente pago.</label>
            <span>{{cuenta.fechaSiguientePago | date:'dd/MMM/yyyy'}}</span>
            <span *ngIf="!cuenta.fechaSiguientePago" class="danger-color">No hemos registrado tu pago.</span>
          </ion-col>
      </ion-row>
    </ion-grid>

  </ion-list>




  <ion-list>
    <ion-list-header class="table-header">
      Pagos
    </ion-list-header>
    <ion-item *ngIf="messageEmpty">
      {{messageEmpty}}
    </ion-item>
    <ion-item *ngFor="let pago of listaPagos">
      <h2>{{pago.concepto}}</h2>
      <p>{{pago.fechaRegistroCadena}}</p>
      <ion-note item-end>{{pago.importe | currency:'MXN':true}}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar color="primary">
      <button color="accent" ion-button block large (click)="updateAccount()">Actualizar.</button>
    </ion-toolbar>
  </ion-footer>